* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

/*sign-in or sign up page*/

/*nest page*/
header {
    margin-bottom: 20px;
}

#nestBanner {
    background-color: #48898D;
    color: white;
    padding-right: 0px;
    padding-left: 20px;
    padding-top: 5px;
}

#nestBanner img {
    max-width: 100px;
}

#nestBanner a {
    color: white;
}

.bannerTitle {
    text-align: left;
    font-family: 'Lobster', cursive;
    font-size: 100px; 
}

.logout {
        text-align: right;
}

main {
    background-color: #F0F8F9;
    padding-top: 20px; 
    padding-bottom: 40px;
}

h4 {
    font-family: 'Lobster', cursive;
    color: #48898D;
}

#hello {
    font-size: 30px;
}

#userName {
    font-size: 50px;
}

.userImage a {
    font-size: 30px; 
    text-align: center;
}

.treePosts h1 {
    color: #337AB7;
    font-size: 30px; 
}

#postCard {
    margin-bottom: 15px; 
    margin-top: 15px; 
}

.postUser {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.card {
    margin-bottom: 30px;
}

.postText {
    background-color: white;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    padding: 15px; 
}

.postIMG {
    border-radius: 50%;
    max-width: 50px;
}

.postBird {
    margin-bottom: 0px; 
}

#status {
    font-size: 10px; 
    color: #999999;
}

/*followers page*/

#status {
    color: white; 
    margin-top: 5px;
    margin-bottom: 10px; 
    font-size: 12px;
}

.usersCard {
    text-align: center;
    margin-bottom: 30px; 
    min-height: 300px;
}

.userImgTN {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;    
}

.usersCardName {
    color: #337AB7;
    font-size: 18px; 
}
